# Opérateurs

## Exercice 1 
- En utilisant la base de données Northwind, identifier les commandes (orders) pour lesquelles la quantité totale (cf voir les valeurs de la variable quantity dans order_details) est supérieure à 100
- On renverra juste deux colonnes dans les résultats :
    - order_id
    - une colonne qui vaut 'Large Order' (=>100) ou 'Small Order' (<100)

## Exercice 2

- Sélectionner toutes les commandes (orders), en affichant leur région de livraison, et en remplaçant les régions manquantes par 'Not Specified'  Afficher également la quantité totale commandée pour chaque commande (order_details)

# Doublons

## Exercice 3

- Créer une nouvelle table avec ce code :
- 
```sql
CREATE TABLE people(
    id SERIAL PRIMARY KEY,
    firstname VARCHAR(50) NOT NULL
);

-- 1 fois
INSERT INTO people(firstname) values('Maxime');

-- tous les autres en doublons
INSERT INTO people(firstname) values('Max');
INSERT INTO people(firstname) values('Marie');
INSERT INTO people(firstname) values('Marion');

INSERT INTO people(firstname) values('Max');
INSERT INTO people(firstname) values('Marion');
INSERT INTO people(firstname) values('Marie');

INSERT INTO people(firstname) values('Marie');


-- Vérifier : 
SELECT
    firstname, 
    COUNT(firstname)
FROM
    people
GROUP BY firstname;
```

- Écrire une requête utilisant GROUPBY et HAVING pour identifiers les doublons

- Supprimer les doublons en utilisant ces différentes méthodes :
    - Une table intermédiaire :
        - On écrit les valeurs uniques dans une nouvelle table avec : `CREATE TABLE people_temp(LIKE people);`
        - On supprime l'ancienne (people)
        - On renomme la nouvelle
    - Une clause WHERE