# 1

```sql
-- Avec Groupby
SELECT od.order_id,
CASE
    WHEN SUM(od.quantity) >= 100 THEN 'Large order'
    ELSE 'Small order'
END
FROM order_details od
GROUP BY od.order_id



-- Case et subqueries
SELECT o.order_id, 
       (SELECT SUM(quantity)
        FROM order_details od
        WHERE od.order_id = o.order_id) AS total_quantity,
       CASE 
           WHEN (SELECT SUM(quantity) FROM order_details od WHERE od.order_id = o.order_id) > 100 THEN 'Large Order'
           ELSE 'Small Order'
       END AS order_size
FROM orders o;
```

# 2

### Méthode 1

```sql
SELECT o.order_id, 
       COALESCE(o.ship_region, 'Not Specified') AS ship_region,
       (SELECT SUM(quantity) FROM order_details od WHERE od.order_id = o.order_id) AS total_quantity
FROM orders o;
```

### Méthode 2 
**(au cas où SUM(quantity) vaudrait NULL et qu'on souhaiterait garder des entiers)**

```sql
SELECT o.order_id, 
       COALESCE(o.ship_region, 'Not Specified') AS ship_region,
       COALESCE((SELECT SUM(quantity) FROM order_details od WHERE od.order_id = o.order_id), 0) AS total_quantity
FROM orders o;
```

## 3

Identifier
```sql
SELECT
    firstname,
    COUNT( firstname )
FROM
    people
GROUP BY
    firstname
HAVING
    COUNT( firstname ) > 1
ORDER BY
    firstname DESC;
```

Clause WHERE
```sql
DELETE FROM
    people a
        USING people b
WHERE
    a.id < b.id
    AND a.firstname = b.firstname;
```

Table intermédiaire
```sql


CREATE TABLE people_temp (LIKE people);

INSERT INTO people_temp(firstname, id)
SELECT 
    DISTINCT ON (firstname) firstname,
    id
FROM people; 

DROP TABLE people;

ALTER TABLE people_temp 
RENAME TO people; 





-- Autre solution (plus complexe)
DELETE FROM people
WHERE id IN (
    SELECT id
    FROM (
        SELECT id, firstname, ROW_NUMBER() OVER (PARTITION BY firstname ORDER BY id) AS row_num
        FROM people
    ) AS duplicates
    WHERE duplicates.row_num > 1
);


```