# Création des données pour 1 & 2

```sql
-- Création de la base de données
CREATE DATABASE advanced;

-- Connexion à la base de données
\c advanced;

-- Création de la table 'answers'
CREATE TABLE answers (
    id SERIAL PRIMARY KEY,
    user_id INTEGER,
    exercice_id INTEGER,
    number INTEGER,
    is_correct BOOLEAN
);

-- Création de la table 'exercice_stats'
CREATE TABLE exercice_stats (
    id SERIAL PRIMARY KEY,
    exercice_id INTEGER,
    user_id INTEGER,
    cumulative_score INTEGER
);


-- Insérer des données dans 'answers'
INSERT INTO answers (user_id, exercice_id, number, is_correct) VALUES (1, 1, 10, TRUE);
INSERT INTO answers (user_id, exercice_id, number, is_correct) VALUES (1, 1, 15, FALSE);
INSERT INTO answers (user_id, exercice_id, number, is_correct) VALUES (2, 1, 20, TRUE);
INSERT INTO answers (user_id, exercice_id, number, is_correct) VALUES (2, 2, 5, TRUE);
INSERT INTO answers (user_id, exercice_id, number, is_correct) VALUES (3, 3, 30, FALSE) ;
```

# Exercice 1

- Créer une vue Summary qui calcule et affiche des informations agrégées concernant les réponses des utilisateurs :
    - Valeur moyenne des réponses (number)
    - Nombre total de réponses
    - Nombre de bonnes réponses

# Exercice 2
- Écrire une fonction qui calcule le score total pour un utilisateur donné et un exercice donné
- On appellera la fonction ainsi : `SELECT total_score(2, 1) AS score;`
- **Entre BEGIN et END, on peut utiliser `$1` et `$2` pour désigner les arguments sans utiliser des noms qui mènent à des ambiguëtés, comme user_id et exercice_id**

# Exercice 3

- On dispose de deux tables :

```sql
-- Création de la table 'events'
CREATE TABLE events (
    event_id SERIAL PRIMARY KEY,
    event_name VARCHAR(255) NOT NULL,
    occurred_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Création de la table 'log_table'
CREATE TABLE log_table (
    log_id SERIAL PRIMARY KEY,
    log_message VARCHAR(255) NOT NULL,
    logged_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
```

- Chaque fois qu'on écrit dans la table events, on souhaite qu'un trigger écrive automatiquement dans la table log_table : créer le trigger et le tester